* {
  /* border: 1px solid red; */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#branding {
  z-index: 1;
}

#portfolio {
  color: rgb(113, 110, 255);
  transition: 0.3s;
}

#portfolio:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#contact {
  transition: 0.3s;
}

#contact:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background: url(img/Toronto.jpg) no-repeat center center fixed;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 25, 112);
  opacity: 0.8;
  position: absolute;
}
#headline {
  z-index: 1;
  max-width: 600px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

#work-button {
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

#work-button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.social {
  z-index: 1;
}

i {
  transform: scale(1.5);
  transition: 0.3s;
}

i:hover {
  transform: scale(2);
  transition: 0.3s;
}

main {
  background: rgba(112, 110, 255, 0.432);
  overflow: hidden;
}

.project {
  max-width: 450px;
}

.thumbnail:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.thumbnail {
  height: 200px;
  width: 290px;
  transition: 0.3s;
}

@media (min-width: 500px) {
  .project {
    margin: 25px 50px;
  }
}
